
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', DM sans;
    background-color: var(--fundo);
    color: var(--texto);
    line-height: 1.5
}
h2 {
    font-family: 'Bagel Fat One', cursive;
    font-weight: 400;
    font-size: 1.8rem;
    margin: 0 0 16px;
}

button{
    font: inherit;
    cursor: pointer;
}

:focus-visible{
    outline: 3px solid var(--majericao);
    outline-offset: 2px;
}